<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title>Sachin Vinayak Dabhade</title>
</head>
<body>
<!-- <h1>Hello World</h>
<h2>Tutorial 9</h2>
<p>Hello guys, my name is {{name}} and I am {{age}} year old. I belongs from {{City}}.</p>
<h2>Tutorial 10</h2>

<form action='/removepunc' method='get'>
<textarea name='text' style='margin:0px;width:720px;height:95px;'>Write something here</textarea>
<button type='submit'> Analysis Text </button> -->

<h2>Tutorial 11 - {{About}}</h2>
<form action='/analysis' method='get'>
    <textarea name='text'></textarea><br>
    <input type='checkbox' name='analyze'> Analysis Text </input><br>
    <input type='checkbox' name='upper'> UpperCase </input><br>
    <button type='submit'>Analysis</button>
</form>
</html>

</form>
</html>